body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    height: 100vh;
    background-color: #e7ebf0;
}

.calcBody {
    display: flex;
    width: 500px;
    box-sizing: border-box;
    flex-direction: column;
    background-color: #F24C4C;
    border: 10px solid #F24C4C;
    border-radius: 5px;
    box-shadow: 3px 3px #a12525;

}

.display {
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    background-color: #ffaeae;
    border: 2px solid #F24C4C;
    border-radius: 10px;
    color: #a12525;
    font-size: 2em;
    text-align: right;
    margin-bottom: 10px;
}

#displayContent {
    display: inline-block;
    margin: 6% 0%;
    padding: 0% 6%;
    background-color: ;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1.5;
    border-radius: 10px;
}

.buttons * {
    box-sizing: border-box;
    display: inline-block;
    border: 2px solid #F24C4C;
    padding: 0px;
    width: 25%;
    transition: .15s;
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    border-radius: 6px;

}

.symbol:hover {
    background-color: #f8e996;
}

.symbol,
.symbol:active {
    background-color: #F7D716;
    color: #F24C4C;
}

.operator:hover {
    background-color: #51597b;
}

.operator,
.operator:active {
    background-color: #293462;
    color: #F7D716;
}

.operand:hover {
    background-color: #ffc379;
}

.operand,
.operand:active {
    color: #F24C4C;
    background-color: #ffaa41;
}

.zero {
    width: 50%;
}